<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" /> <!-- Biometric permission -->
    <uses-permission
        android:name="android.permission.USE_BIOMETRIC"
        android:required="false" /> <!-- Fingerprint permission -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission
        android:name="android.permission.STATUS_BAR"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BudgetExpenseManagerHelp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".TearmsShowActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".FingerPrintuseSqitch"
            android:exported="false" />
        <activity
            android:name=".CalenderActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ModeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SplachScreen"
            android:exported="true"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoriesActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ReportsActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".TransactionActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ExposedReports"
            android:label="Exposed Reports" />
        <activity
            android:name=".IncomeActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" /> <!-- try use what deffarant -->
        <!-- android:configChanges="orientation|keyboardHidden|screenSize" -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>